{% extends 'crm.html' %}


{% block body %}
<div class="middle-box text-center loginscreen  animated fadeInDown">
	<div>
		<div>
			<h1 class="logo-name"></h1>
		</div>

		<h3>SocialCowork - CRM</h3>
		<p>Crea una nuova password di almeno 8 caratteri</p>

		{% if used %}
		<div class="alert alert-danger">Link già usato</div>
		{% else %}

		{% if too_short %}
		<div class="alert alert-danger">Password troppo corta</div>
		{% endif %}

		{% if no_match %}
		<div class="alert alert-danger">Le password non coincidono</div>
		{% endif %}

		<form class="m-t" role="form" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<input type="password" class="form-control" name="password" placeholder="Password" required="">
			</div>

			<div class="form-group">
				<input type="password" class="form-control" name="password2" placeholder="Conferma la password" required="">
			</div>

			<button type="submit" class="btn btn-primary block full-width m-b">Salva</button>
		</form>

		{% endif %}

	</div>
</div>
{% endblock %}

